html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.interface {
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.in-menu {
    height: 100%;
    margin: 0;
    padding: 0;
}

#khaled {
    height: 100%;
}

#khaleds-box {
    padding: 0;
}

#menu {
    height: 20%;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

#search {
    width: 35%;
    font-size: 15px;
    font-weight: 300;
    margin: 10px 10px 0 0;
    padding: 11px 14px 11px 16px;
    text-overflow: ellipsis;
    width: 300px;
}